alembic==1.13.1
annotated-types==0.7.0
anyio==4.12.1
bcrypt==5.0.0
boto3==1.34.130
botocore==1.34.162
click==8.3.1
distlib==0.4.0
dnspython==2.8.0
ecdsa==0.19.1
email-validator==2.3.0
fastapi==0.108.0
fastapi-cli==0.0.4
fastapi-logger==0.2
filelock==3.20.3
greenlet==3.3.1
gunicorn==22.0.0
h11==0.16.0
idna==3.11
jmespath==1.1.0
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
packaging==26.0
platformdirs==4.5.1
psycopg2-binary==2.9.11
pyasn1==0.6.2
pydantic==2.5.3
pydantic-settings==2.1.0
pydantic_core==2.14.6
Pygments==2.19.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.3.0
rich==14.3.2
rsa==4.9.1
s3transfer==0.10.4
shellingham==1.5.4
six==1.17.0
SQLAlchemy==2.0.30
starlette==0.32.0.post1
typer==0.21.1
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.25.0
virtualenv==20.25.0
